<template>
  <div id="hello">
    <ul >
      <li id="helloVue">{{ msg }}</li> 
      <li id="helloCordova">-</li>  
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Hello, this is Vue.js'
    }
  }
}
</script>

<style scoped>
ul {

  list-style-type: none;
  padding: 1em;
  border-top: 1px solid #cecece;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
